<a href {{action this.selectCategory}} class="resources-item resources-category {{if category.active "selected"}}">
  {{#unless category.active}}
    {{d-icon "plus"}}
  {{/unless}}

  {{#if category.active}}
    {{d-icon "times-circle"}}
  {{/if}}

  <span class="resources-item-id category-id">{{categoryName}}</span>
  <span class="resources-item-count category-count">{{category.count}}</span>
</a>
