<a href {{action this.selectTag}} class="resources-item resources-tag {{if tag.active "selected"}} {{if subtag "subtag"}}">
  {{#unless tag.active}}
    {{d-icon "plus"}}
  {{/unless}}

  {{#if tag.active}}
    {{d-icon "times-circle"}}
  {{/if}}

  <span class="resources-item-id tag-id">{{tag.id}}</span>
  <span class="resources-item-count tag-count">{{tag.count}}</span>
</a>
